<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--suite name="Suite" parallel="tests" thread-count="2"-->
<suite name="Suite">

<test name="FireFox">
<classes>
<class name="Test.AndroidTest"></class>
<class name="Test.APITest"></class>
</classes>
</test>
</suite>